body {
	background: url('img/bg/bg_madeira.png') #000;
	background-repeat: no-repeat;
}

#carcaca {
	position: absolute;
	width: 280px;
	height: 600px;
	left: 50%;
	top: 50%;
	margin-left: -140px;
	margin-top: -300px;
	background: #C0C0C0;
	border-radius: 40px;
	box-shadow: 6px 7px 10px -1px #000;
}

#carcaca #tela {
	position: absolute;
	width: 274px;
	height: 594px;
	margin-left: 3px;
	margin-top: 3px;
	background: #000;
	border-radius: 37px;
}

#carcaca #tela #camera {
	position: absolute;
	width: 10px;
	height: 10px;
	margin-top: 26px;
	left: 50%;
	margin-left: -5px;
	border-radius: 10px;
	background: rgba(100,100,100,0.7);
}

#carcaca #tela #auto-falante {
	position: absolute;
	width: 44px;
	height: 5px;
	margin-top: 46px;
	left: 50%;
	margin-left: -22px;
	background: rgba(100,100,100,0.8);
	border-radius: 2px;
}

#carcaca #tela #visor {
	position: absolute;
	width: 240px;
	height: 428px;
	margin-top: 80px;
	left: 50%;
	margin-left: -120px;
	background: url('img/bg/bg_7.png') #FFF;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#carcaca #tela #botao {
	position: absolute;
	width: 48px;
	height: 48px;
	margin-top: 526px;
	left: 50%;
	margin-left: -24px;
	background: rgba(100,100,100,0.1);
	border: 5px solid rgba(100,100,100,0.4);	
	border-radius: 48px;
	cursor: pointer;
}